<html>
<body>
<p>Note for UI developers - this page should have no 3rd party javascript / analytics etc.</p>
<p>Note that in a proper UI, the display name and email should be HTML-escaped.</p>

Account created!</br>
User name: {{user}}</br>
Display name: {{display}}</br>
Email: {{email}}</br>
Temporary password: {{pwd}}</br>
Will require a reset. There is no way to see this password again once you
navigate away from this page.

</body>
</html>