<html>
<body>
Account created!</br>
User name: {{user}}</br>
Display name: {{display}}</br>
Email: {{email}}</br>
Temporary password: {{password}}</br>
Will require a reset. There is no way to see this password again once you
navigate away from this page.

</body>
</html>