<html>
<body>
<h2>Server Configuration</h2>

<p><strong>It will take up to {{updatetimesec}} seconds for configuration changes to synch to other
server instances.</strong></p>

<form action="{{reseturl}}" method="post">
	<input type="submit" value="Reset to defaults"/>
</form>	

<h3>Basic</h3>

<form action="{{basicurl}}" method="post">

<p>Allow non-admin login. Disabling this does not stop currently logged-in users from using the
system:
<input type="checkbox" name="allowlogin" {{#allowlogin}}checked{{/allowlogin}}/>
</p>

<p>Show stack trace in returned errors: 
<input type="checkbox" name="showstack" {{#showstack}}checked{{/showstack}}/><br/>
The stack trace is always logged.
</p>

<p>Ignore the X-Forwarded-For and X-Real-IP headers when determining IP addresses:
<input type="checkbox" name="ignoreip" {{#ignoreip}}checked{{/ignoreip}}/>
</p>

<p>Allowed post-login redirect URL prefix:
<input type="text" name="allowedloginredirect"
	{{#allowedloginredirect}}value="{{.}}"{{/allowedloginredirect}}/>
</p>

<p>Redirect URL when a user cannot be logged in immediately after return from 3rd party provider,
 e.g. a choice of accounts is required or an account must be created.
<input type="text" name="completeloginredirect"
	{{#completeloginredirect}}value="{{.}}"{{/completeloginredirect}}/>
</p>

<p>Redirect URL after an account link (usually to a user page showing their identities).
<input type="text" name="postlinkredirect"
	{{#postlinkredirect}}value="{{.}}"{{/postlinkredirect}}/>
</p>

<p>Redirect URL when a user account cannot be linked immediately after return from 3rd party
provider, e.g. a choice of accounts is required.
<input type="text" name="completelinkredirect"
	{{#completelinkredirect}}value="{{.}}"{{/completelinkredirect}}/>
</p>

<input type="reset" value="Reset"/>
<input type="submit" value="Update"/>
</form>

<h3>Token lifetimes</h3>
<form action="{{tokenurl}}" method="post">

<p>Suggested cache lifetime (minutes):
<input type="number" name="tokensugcache" {{#tokensugcache}}value="{{.}}"{{/tokensugcache}}/>
</p>

<p>Login token (days):
<input type="number" name="tokenlogin" {{#tokenlogin}}value="{{.}}"{{/tokenlogin}}/>
</p>

<p>Agent token (days):
<input type="number" name="tokenagent" {{#tokenagent}}value="{{.}}"{{/tokenagent}}/>
</p>

<p>Developer token (days):
<input type="number" name="tokendev" {{#tokendev}}value="{{.}}"{{/tokendev}}/>
</p>

<p>Server token (days):
<input type="number" name="tokenserv" {{#tokenserv}}value="{{.}}"{{/tokenserv}}/>
</p>

<input type="reset" value="Reset"/>
<input type="submit" value="Update"/>
</form>

<h3>Identity Providers</h3>

{{#providers}}
<h4>{{name}}</h4>
<form action="{{providerurl}}" method="post">
<input type="hidden" name="provname" value="{{name}}"/>
<p>Enabled: <input type="checkbox" name="enabled" {{#enabled}}checked{{/enabled}}/>
</p>
<p>When linking accounts show link choices even if there's only one choice:
<input type="checkbox" name="forcelinkchoice" {{#forcelinkchoice}}checked{{/forcelinkchoice}}/>
</p>
<p>On login show login choices even if there's only one choice:
<input type="checkbox" name="forceloginchoice" {{#forceloginchoice}}checked{{/forceloginchoice}}/></br>
Select this option if a custom UI is setting its own login cookies. The server will then always
redirect to the UI prior to logging in a user (but after processing the return from the identity
provider), so the UI can then use JSON endpoints that don't set a cookie with a login token.</br>

Also set this option if users must agree to policy documents prior to login and the IDs of the
policy documents should be stored in the auth server.
</p>
<input type="reset" value="Reset"/>
<input type="submit" value="Update"/>
</form>
{{/providers}}

</body>
</html>