<html>
<body>
<form action="{{reseturl}}" method="post">
	<input type="submit" value="Force password reset for all local users"/>
</form>
<form action="{{revokeurl}}" method="post">
	<input type="submit" value="Revoke all tokens for all users and log out"/>
</form>
</body>
</html>