<html>
<body>

<p>Note that in a proper UI, the role descriptions should be HTML-escaped.</p>

<h3>Custom roles:</h3>
{{#roles}}
<p>
<h4>ID: {{ID}}</h4>
Description:<br/>
{{desc}}
</p>
{{/roles}}

<form action="{{custroleurl}}" method="post" id="custroleform">
ID: <input type="text" name="id"/><br/>
Description:<br/>
<textarea name="desc" form="custroleform" cols="40" rows="5"></textarea><br/>
<input type="submit" value="Create or update">
</form>

</html>
</body>