<html>
<body>
<form action="{{reseturl}}" method="post">
	<input type="submit" value="Force password reset for all local users"/>
</form>
<form action="{{revokeurl}}" method="post">
	<input type="submit" value="Revoke all tokens for all users and log out"/>
</form>

<form action="{{tokenurl}}" method="post">
	View token: <input type="text" name="token" /><br/>
	<input type="submit" value="Submit" />
</form>
</body>
</html>