<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>{{httpcode}} {{httpstatus}}</title>
  </head>
  <body>
    <p>Note that in a proper UI, the error message and exception should be HTML-escaped.</p>
    <p>
    An error occurred during the operation:
    </p>
    Timestamp: {{time}}<br/>
    {{#callid}}
        Call ID: {{callid}}</br>
    {{/callid}}
    Http code: {{httpcode}}<br/>
    Http status: {{httpstatus}}<br/>
    {{#appcode}}
        Application code: {{appcode}}</br>
    {{/appcode}}
    {{#apperror}}
        Application error: {{apperror}}</br>
    {{/apperror}}
    Message: {{message}}<br/>
    {{#hasexception}}
    Exception:<br/>
    <pre>
    {{#exceptionlines}}
        {{{.}}}
    {{/exceptionlines}}
    </pre>
    {{/hasexception}}
  </body>
</html>