<html>
<body>
<p>Note that in a proper UI, the provider and username should be HTML-escaped.</p>
<h2>Link {{provider}} account</h2>

<p>Link one of the following provider accounts to your <strong>{{user}}</strong>
account:</p>

{{#ids}}
Provider username: {{prov_username}}<br/>
<form action="{{pickurl}}" method="post">
	<input type="hidden" name="id" value="{{id}}"/>
	<input type="submit" value="Link"/>
</form>
{{/ids}}

<p> or
<form action="{{pickurl}}" method="post">
	<input type="submit" value="Link all"/>
</form>
</p>

</html>
</body>
