<html>
<body>
<p>Note that in a proper UI, the provider and username should be HTML-escaped.</p>

Choices expire: {{expires}}<br/>

<form action="{{cancelurl}}" method="post">
	<input type="submit" value="Cancel account linking"/>
</form>

<h2>Link {{provider}} account</h2>

<p>Link one of the following provider accounts to your <strong>{{user}}</strong>
account:</p>

{{#idents}}
Provider username: {{provusername}}<br/>
<form action="{{pickurl}}" method="post">
	<input type="hidden" name="id" value="{{id}}"/>
	<input type="submit" value="Link"/>
</form>
{{/idents}}

<p> or
<form action="{{pickurl}}" method="post">
	<input type="submit" value="Link all"/>
</form>
</p>

</html>
</body>
