<html>
<body>
Login with a local account. These accounts are not available to the general
public or even most developers.</br>
<form action="{{targeturl}}" method="post">
	User name: <input type="text" name="user"/><br/>
	Password: <input type="password" name="pwd"/><br/>
	<input type="checkbox" name="stayLoggedIn"/> Keep me logged in<br/>
	<input type="submit" value="Submit"/>
</form>
</body>
</html>