<html>
<body>

<p>Note that in a proper UI, the provider usernames, the display name, and email address should be HTML-escaped.</p>

Choices expire: {{expires}}<br/>

<form action="{{cancelurl}}" method="post">
	<input type="submit" value="Cancel login"/>
</form>

<h2>Provider: {{provider}}</h2>

<h3>Login</h3>
<p>The login information from the provider allows you to access these
accounts:</p>
{{#login}}
Username: {{username}} {{#disabled}}DISABLED{{/disabled}} {{#adminonly}}***Currently only admin accounts can log in***{{/adminonly}}<br/>
Provider usernames: {{prov_usernames}}<br/>
Policy IDs:<br/>
{{#policy_ids}}
{{id}}: {{agreed_on}}<br/>
{{/policy_ids}}
{{#loginallowed}}
<form action="{{pickurl}}" method="post">
	<input type="hidden" name="id" value="{{id}}"/>
	Add policy IDs: <input type="text" name="policy_ids"/><br>
	Custom token creation context: <input type="text" name="customcontext"/><br/>
	Link all unlinked identities to this account: <input type="checkbox" name="linkall" value="checked" checked/><br/>
	<input type="submit" value="Login"/>
</form>
{{/loginallowed}}
<br/>
{{/login}}

<h3>Create account</h3>
<p>
User name is public.<br/>
Display name is public to other system users.<br/>
Email is only visible to you, software acting on your behalf, and system administrators.
</p>
{{#create}}
{{#creationallowed}}
<p>Create an account linked to {{prov_username}}</p>

<form action="{{createurl}}" method="post">
	User name: <input type="text" name="user" value="{{usernamesugg}}"/><br/>
	Display name: <input type="text" name="display" value="{{prov_fullname}}"/><br/>
	Email: <input type="text" name="email" value="{{prov_email}}"/><br/>
	Policy IDs: <input type="text" name="policy_ids"/><br>
	Custom token creation context: <input type="text" name="customcontext"/><br/>
	Link all unlinked identities to this account: <input type="checkbox" name="linkall" value="checked" checked/><br/>
	<input type="hidden" name="id" value="{{id}}"/>
	<input type="submit" value="Create"/>
</form>
{{/creationallowed}}
{{^creationallowed}}
Provider username: {{prov_username}}<br/>
Sorry, account creation is currently disabled.<br/>
{{/creationallowed}}
{{/create}}

</body>
</html>
