<html>
<body>

{{#hasprov}}
<h3>Login with:</h3>
{{/hasprov}}

<form action="{{starturl}}" method="post">
{{#providers}}
	<input type="radio" name="provider" value="{{name}}"/><img src="{{img}}" alt="{{name}}"/><br/>
{{/providers}}
	<input type="checkbox" name="stayLoggedIn"/> Keep me logged in<br/>
	Redirect after login: <input type="text" name="redirect"/><br/>
	<input type="submit" value="Submit"/>
</form>


{{#hasprov}}
You will be redirected to the identity provider website where you will be asked
to allow us to view your account information - your account ID, email
address, and name.<br/>
You will have 30 minutes to complete the identity provider's login process.
{{/hasprov}}

{{^hasprov}}
Sorry, login is currently disabled.
{{/hasprov}}

</body>
</html>