<html>
<body>

<h2>User: {{user}}</h2>
Created: {{created}}<br/>
Last login: {{lastlogin}}<br/>
{{#local}}
Local account<br/>
{{/local}}
<h3>Roles:</h3>
{{#roles}}
{{.}}<br/>
{{/roles}}
<h3>Custom roles:</h3>
{{#customroles}}
{{.}}<br/>
{{/customroles}}
<h3>User details</h3>
<p>
User name is public.</br>
Display name is public to other system users.</br>
Email is only visible to you, software acting on your behalf, and system administrators.
</p>
<form action="{{userupdateurl}}" method="post">
	Display name: <input type="text" name="display" value="{{display}}"/><br/>
	Email: <input type="text" name="email" value="{{email}}"/><br/>
	<input type="submit" value="Update"/>
</form>
<h3>Identities:</h3>
{{#idents}}
Provider: {{provider}}<br/>
User id: {{username}}<br/>
{{#unlink}}
<form action="{{unlinkprefixurl}}{{id}}" method="post">
	<input type="submit" value="Unlink"/>
</form>
{{/unlink}}
{{/idents}}

</html>
</body>