<html>
<body>
Created token for {{user}}:<br/>
Times are in seconds since the epoch.<br/>
Once you navigate away from this page, you'll never be able to see this token
again.<br/>

Name: {{name}}<br/>
Id: {{id}}<br/>
Token: {{token}}<br/>
Created: {{created}}<br/>
Expires: {{expires}}<br/>
</body>
</html>

