<html>
<body>
<p>Note for UI developers - this page should have no 3rd party javascript / analytics etc.</p>
<p>Note that in a proper UI, the token name should be HTML-escaped.</p>

Created token for {{user}}:<br/>
Times are in milliseconds since the epoch.<br/>
Once you navigate away from this page, you'll never be able to see this token
again.<br/>

Name: {{name}}<br/>
Id: {{id}}<br/>
Token: {{token}}<br/>
Created: {{created}}<br/>
Expires: {{expires}}<br/>
</body>
</html>

