<html>
<body>
<p>Note that in a proper UI, the token names should be HTML-escaped.</p>

<h2>User: {{user}}</h2>
Expiration and creation dates are in milliseconds from the epoch.
</p>
{{#dev}}
<h3>Create a token:</h3>
<form action="{{createurl}}" method="post">
	Token name: <input type="text" name="name"/><br/>
	Custom token creation context: <input type="text" name="customcontext"/><br/>
{{#serv}}
	<input type="checkbox" name="type" value="server"/>Server token<br/>
{{/serv}}
	<input type="submit" value="Submit"/>
</form>
{{/dev}}
<form action="{{revokeallurl}}" method="post">
	<input type="submit" value="Revoke all tokens and logout"/>
</form>
<h3>Current token:</h3>
{{#current}}
{{#name}}
Name: {{name}}<br/>
{{/name}}
ID: {{id}}<br/>
Type: {{type}}<br/>
Created: {{created}}<br/>
Expires: {{expires}}<br/>
Server: {{servertime}}<br/>
OS: {{os}} {{osver}}<br/>
Agent: {{agent}} {{agentver}}<br/>
Device: {{device}}<br/>
IP: {{ip}}<br/>
Custom: {{custom}}<br/>
<br/>
{{/current}}
<h3>Tokens:</h3>
{{#tokens}}
{{#name}}
Name: {{name}}<br/>
{{/name}}
ID: {{id}}<br/>
Type: {{type}}<br/>
Created: {{created}}<br/>
Expires: {{expires}}<br/>
Server: {{servertime}}<br/>
OS: {{os}} {{osver}}<br/>
Agent: {{agent}} {{agentver}}<br/>
Device: {{device}}<br/>
IP: {{ip}}<br/>
Custom: {{custom}}<br/>
<form action="{{revokeurl}}{{id}}" method="post">
	<input type="submit" value="Revoke"/>
</form>
<br/>
{{/tokens}}
</body>
</html>